* {
  box-sizing: border-box;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__list {
  display: flex;
  padding: 0;
  position: relative;
  transition: 2s;
  right: 0px;
}

.slider__item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: block;
}
.slider__item:nth-child(2n) {
  background-color: red;
  opacity: 0.5;
}

.wrapper {
  margin: 20px;
  width: 300px;
  overflow: hidden;
  display: flex;
}

.btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}